@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display&display=swap");

.blog-title {
  font-family: "Permanent Marker", cursive;
  font-size: 140px;
  line-height: 1;
}

.navbar-brand {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  line-height: 0.9;
}
